" START settings
set syntax

" Use relative line numbering
set number
set relativenumber

" Use 4 spaces
set tabstop=4
set shiftwidth=4
set expandtab
set autoindent

" Scroll offset from top and bottom
set scrolloff=5
" END settings

" Rebind leader
let mapleader=""

" START plugins
Plug 'preservim/nerdtree'
Plug 'tpope/vim-surround'
Plug 'tpope/vim-commentary'
Plug 'machakann/vim-highlightedyank'
Plug 'easymotion/vim-easymotion'
" END plugins

" START remaps
" Open .ideavimrc
nnoremap \ie :e ~/.ideavimrc<CR>

" Reload .ideavimrc
nnoremap \ir :action IdeaVim.ReloadVimRc.reload<CR>

" Select all
nnoremap <leader>AA ggVG

" Create 2 blank lines below cursor and move to the first
nnoremap <leader>o o<CR><Esc>ki

" Create 2 blank lines above cursor and move to the first
nnoremap <leader>O O<CR><Esc>ki

noremap <leader>y "+y
noremap <leader>p "+p

nnoremap <leader>s ^v$

nmap [[ <Action>(MethodUp)
nmap ]] <Action>(MethodDown)

map <leader>1 <Action>(SelectInProjectView)

nmap <leader>cc <Action>(GotoClass)
nmap <leader>cf <Action>(GotoFile)
nmap <leader>cs <Action>(GotoSymbol)
nmap <leader>ca <Action>(GotoAction)

nmap <leader>qa <Action>(CloseAllEditors)

nmap grn <Action>(RenameElement)

" Easymotion
map <leader>j <Plug>(easymotion-f)
map <leader>J <Plug>(easymotion-F)
" END remaps

