" START settings
set syntax

" Use relative line numbering
set number
set relativenumber

" Use 4 spaces
set tabstop=4
set shiftwidth=4
set expandtab
set autoindent

" Scroll offset from top and bottom
set scrolloff=5
" END settings

" START plugins
set NERDTree
set surround
set commentary
set highlightedyank
" END plugins

" START remaps
let mapleader=" "

" Open .ideavimrc
nnoremap \ie :e ~/.ideavimrc<CR>

" Reload .ideavimrc
nnoremap \ir :action IdeaVim.ReloadVimRc.reload<CR>

" Select all
nnoremap <leader>AA ggVG

" Create 2 blank lines below cursor and move to the first
nnoremap <leader>o o<CR><Esc>ki

" Create 2 blank lines above cursor and move to the first
nnoremap <leader>O O<CR><Esc>ki

noremap <leader>y "*y
noremap <leader>p "*p
noremap <leader>Y "+y
noremap <leader>P "+p

nnoremap <leader>s ^v$

nmap [[ <Action>(MethodUp)
nmap ]] <Action>(MethodDown)

\map <leader>1 <Action>(SelectInProjectView)

nmap <leader>cc <Action>(GotoClass)
nmap <leader>cf <Action>(GotoFile)

nmap <leader>qa <Action>(CloseAllEditors)

nmap grn <Action>(RenameElement)
" END remaps

" START ide specifics
if has('ide')
    if &ide =~? 'phpstorm'
        nmap <leader>nC <Action>(PhpNewClass)
    endif
endif
" END ide specifics
